In [6]:
from src.cfbd_client import configuration
import cfbd
import pandas as pd

def safe_preview(api_class, api_func_name, **kwargs):
    try:
        api = api_class(api_client)
        api_func = getattr(api, api_func_name)
        data = api_func(**kwargs)
        df = pd.DataFrame([d.to_dict() for d in data])
        print(f"\n{'='*80}")
        print(f"✅ {api_class.__name__}.{api_func_name} | {len(df)} rows")
        if not df.empty:
            print("Columns:", list(df.columns))
            display(df.head(1))
        else:
            print("No data returned.")
    except Exception as e:
        print(f"\n{api_class.__name__}.{api_func_name} failed: {e}")

with cfbd.ApiClient(configuration) as api_client:

    # Coaches
    safe_preview(cfbd.CoachesApi, "get_coaches", year=2025)

    # Drives and games
    safe_preview(cfbd.GamesApi, "get_records", year=2025)

    # Metrics and ratings
    safe_preview(cfbd.MetricsApi, "get_predicted_points_added_by_team", year=2025)
    safe_preview(cfbd.MetricsApi, "get_pregame_win_probabilities", year=2025)
    safe_preview(cfbd.RatingsApi, "get_fpi", year=2025)
    safe_preview(cfbd.RatingsApi, "get_sp", year=2025)

    # Recruiting and players
    safe_preview(cfbd.RecruitingApi, "get_team_recruiting_rankings", year=2025)
    safe_preview(cfbd.RecruitingApi, "get_recruits", year=2025)
    safe_preview(cfbd.PlayersApi, "get_transfer_portal", year=2025)
    safe_preview(cfbd.PlayersApi, "get_player_usage", year=2025)
    safe_preview(cfbd.PlayersApi, "get_returning_production", year=2025)

    # Stats
    safe_preview(cfbd.StatsApi, "get_team_stats", year=2025)
    safe_preview(cfbd.StatsApi, "get_advanced_season_stats", year=2025)

    # Teams
    safe_preview(cfbd.TeamsApi, "get_fbs_teams")
    safe_preview(cfbd.TeamsApi, "get_talent", year=2025)
    safe_preview(cfbd.TeamsApi, "get_teams_ats", year=2025)

================================================================================
✅ CoachesApi.get_coaches | 136 rows
Columns: ['firstName', 'lastName', 'seasons', 'hireDate']

,firstName,lastName,seasons,hireDate
0,Scott,Abell,"[{'school': 'Rice', 'year': 2025, 'games': 0, ...",NaT

================================================================================
✅ GamesApi.get_records | 668 rows
Columns: ['year', 'teamId', 'team', 'classification', 'conference', 'division', 'expectedWins', 'total', 'conferenceGames', 'homeGames', 'awayGames', 'neutralSiteGames', 'regularSeason', 'postseason']

,year,teamId,team,classification,conference,division,expectedWins,total,conferenceGames,homeGames,awayGames,neutralSiteGames,regularSeason,postseason
0,2025,2657,Tuskegee,DivisionClassification.II,SIAC,,0.011159,"{'games': 6, 'wins': 2, 'losses': 4, 'ties': 0}","{'games': 4, 'wins': 1, 'losses': 3, 'ties': 0}","{'games': 2, 'wins': 1, 'losses': 1, 'ties': 0}","{'games': 2, 'wins': 0, 'losses': 2, 'ties': 0}","{'games': 2, 'wins': 1, 'losses': 1, 'ties': 0}","{'games': 6, 'wins': 2, 'losses': 4, 'ties': 0}","{'games': 0, 'wins': 0, 'losses': 0, 'ties': 0}"

================================================================================
✅ MetricsApi.get_predicted_points_added_by_team | 136 rows
Columns: ['season', 'conference', 'team', 'offense', 'defense']

,season,conference,team,offense,defense
0,2025,Mountain West,Air Force,"{'cumulative': {'rushing': 97.2, 'passing': 69...","{'cumulative': {'rushing': 53.5, 'passing': 12..."

================================================================================
✅ MetricsApi.get_pregame_win_probabilities | 547 rows
Columns: ['season', 'seasonType', 'week', 'gameId', 'homeTeam', 'awayTeam', 'spread', 'homeWinProbability']

,season,seasonType,week,gameId,homeTeam,awayTeam,spread,homeWinProbability
0,2025,SeasonType.REGULAR,1,401760359,Air Force,Bucknell,-31.0,0.984

================================================================================
✅ RatingsApi.get_fpi | 136 rows
Columns: ['year', 'team', 'conference', 'fpi', 'resumeRanks', 'efficiencies']

,year,team,conference,fpi,resumeRanks,efficiencies
0,2025,Notre Dame,FBS Independents,21.993,"{'gameControl': 9, 'remainingStrengthOfSchedul...","{'specialTeams': 58.07, 'defense': 73.484, 'of..."

================================================================================
✅ RatingsApi.get_sp | 137 rows
Columns: ['year', 'team', 'conference', 'rating', 'ranking', 'offense', 'defense', 'specialTeams', 'secondOrderWins', 'sos']

,year,team,conference,rating,ranking,offense,defense,specialTeams,secondOrderWins,sos
0,2025,Ohio State,Big Ten,27.6,1.0,"{'rating': 38.3, 'ranking': 8, 'pace': None, '...","{'havoc': {'db': None, 'frontSeven': None, 'to...",{'rating': 0.1},None,None

================================================================================
✅ RecruitingApi.get_team_recruiting_rankings | 232 rows
Columns: ['year', 'rank', 'team', 'points']

   year  rank   team  points
0  2025     1  Texas  312.27

================================================================================
✅ RecruitingApi.get_recruits | 2507 rows
Columns: ['id', 'athleteId', 'recruitType', 'year', 'ranking', 'name', 'school', 'committedTo', 'position', 'height', 'weight', 'stars', 'rating', 'city', 'stateProvince', 'country', 'hometownInfo']

,id,athleteId,recruitType,year,ranking,name,school,committedTo,position,height,weight,stars,rating,city,stateProvince,country,hometownInfo
0,106192,5141741,RecruitClassification.HIGHSCHOOL,2025,1,Bryce Underwood,Belleville,Michigan,QB,75.5,205,5,0.9998,Belleville,MI,USA,"{'fipsCode': '17163', 'longitude': -83.4852106..."

================================================================================
✅ PlayersApi.get_transfer_portal | 4494 rows
Columns: ['season', 'firstName', 'lastName', 'position', 'origin', 'destination', 'transferDate', 'eligibility', 'rating', 'stars']

,season,firstName,lastName,position,origin,destination,transferDate,eligibility,rating,stars
0,2025,Chance,Graves,CB,Richmond,East Carolina,2025-07-01 13:18:00+00:00,TransferEligibility.IMMEDIATE,NaN,NaN

================================================================================
✅ PlayersApi.get_player_usage | 4677 rows
Columns: ['season', 'id', 'name', 'position', 'team', 'conference', 'usage']

,season,id,name,position,team,conference,usage
0,2025,550577,Jordan Brown,WR,Fresno State,MWC,"{'passingDowns': 0.059, 'standardDowns': 0.027..."

================================================================================
✅ PlayersApi.get_returning_production | 134 rows
Columns: ['season', 'team', 'conference', 'totalPPA', 'totalPassingPPA', 'totalReceivingPPA', 'totalRushingPPA', 'percentPPA', 'percentPassingPPA', 'percentReceivingPPA', 'percentRushingPPA', 'usage', 'passingUsage', 'receivingUsage', 'rushingUsage']

,season,team,conference,totalPPA,totalPassingPPA,totalReceivingPPA,totalRushingPPA,percentPPA,percentPassingPPA,percentReceivingPPA,percentRushingPPA,usage,passingUsage,receivingUsage,rushingUsage
0,2025,Air Force,Mountain West,132.2,2.8,78.1,51.3,0.63,0.226,0.818,0.501,0.556,0.075,0.828,0.64

================================================================================
✅ StatsApi.get_team_stats | 8541 rows
Columns: ['season', 'team', 'conference', 'statName', 'statValue']

   season       team     conference    statName  statValue
0    2025  Air Force  Mountain West  firstDowns        142

================================================================================
✅ StatsApi.get_advanced_season_stats | 136 rows
Columns: ['season', 'team', 'conference', 'offense', 'defense']

,season,team,conference,offense,defense
0,2025,Air Force,Mountain West,{'passingPlays': {'explosiveness': 2.158960493...,{'passingPlays': {'explosiveness': 1.766363570...

================================================================================
✅ TeamsApi.get_fbs_teams | 136 rows
Columns: ['id', 'school', 'mascot', 'abbreviation', 'alternateNames', 'conference', 'classification', 'color', 'alternateColor', 'logos', 'twitter', 'location', 'division']

,id,school,mascot,abbreviation,alternateNames,conference,classification,color,alternateColor,logos,twitter,location,division
0,2005,Air Force,Falcons,AF,"[AF, Air Force]",Mountain West,fbs,#004a7b,#ffffff,[http://a.espncdn.com/i/teamlogos/ncaa/500/200...,@AF_Football,"{'id': 3713, 'name': 'Falcon Stadium', 'city':...",None

================================================================================
✅ TeamsApi.get_talent | 134 rows
Columns: ['year', 'team', 'talent']

   year     team   talent
0  2025  Georgia  1002.98

================================================================================
✅ TeamsApi.get_teams_ats | 265 rows
Columns: ['year', 'teamId', 'team', 'games', 'atsWins', 'atsLosses', 'atsPushes', 'avgCoverMargin', 'conference']

,year,teamId,team,games,atsWins,atsLosses,atsPushes,avgCoverMargin,conference
0,2025,2000,Abilene Christian,7,5,2,0,4.5,None