In [3]:
from src.cfbd_client import configuration
import cfbd
import pandas as pd
import os

os.makedirs("../Data/Raw", exist_ok=True)

with cfbd.ApiClient(configuration) as api_client:
    stats_api = cfbd.StatsApi(api_client)

    all_stats = []

    for year in range(2000, 2025):
        print(f"Fetching team stats for {year}...")
        try:
            stats = stats_api.get_team_stats(year=year)
            df_stats = pd.DataFrame([s.to_dict() for s in stats])
            df_stats["season"] = year
            all_stats.append(df_stats)
        except Exception as e:
            print(f"⚠️ Failed for {year}: {e}")

df_team_stats = pd.concat([df for df in all_stats if not df.empty], ignore_index=True)
print(f"Combined team stats shape: {df_team_stats.shape}")

df_team_stats.to_csv("../Data/Raw/team_stats_2000_2025.csv", index=False)

df_team_stats.head()

Fetching team stats for 2000...
Fetching team stats for 2001...
Fetching team stats for 2002...
Fetching team stats for 2003...
Fetching team stats for 2004...
Fetching team stats for 2005...
Fetching team stats for 2006...
Fetching team stats for 2007...
Fetching team stats for 2008...
Fetching team stats for 2009...
Fetching team stats for 2010...
Fetching team stats for 2011...
Fetching team stats for 2012...
Fetching team stats for 2013...
Fetching team stats for 2014...
Fetching team stats for 2015...
Fetching team stats for 2016...
Fetching team stats for 2017...
Fetching team stats for 2018...
Fetching team stats for 2019...
Fetching team stats for 2020...
Fetching team stats for 2021...
Fetching team stats for 2022...
Fetching team stats for 2023...
Fetching team stats for 2024...
Combined team stats shape: (157796, 5)

   season           team     conference statName  statValue
0    2000      Air Force  Mountain West    games         12
1    2000          Akron   Mid-American    games         11
2    2000        Alabama            SEC    games         11
3    2000        Arizona         Pac-10    games         11
4    2000  Arizona State         Pac-10    games         12